<main class='dashboard-page'>
  <section class='dash-panel'>
    <h1>Welcome <%= current_user.username %></h1>
    <p>Number of Show/Manga Reminders: <%= current_user.reminders.count %></p>
  </section>
</main>
