<h2>List of Forums</h2>

<main class="forum-page">
  <section class="forum-list">
    <% @boards.each do |board| %>
      <article class="forum-cat-article">
        <%= link_to "/forum/#{board.abbre}", class: "text-dec" do %>
          <p class="forum-cat"><%= board.abbre %></p>
          <p class="forum-cat forum-cat-name"><%= board.name %></p>
        <% end %>
      </article>
    <% end %>
  </section>
</main>
