<main class='homepage'>
  <section class='home-panel'>
    <h1 class='home-title'>THE SITE</h1>
    <h2>Welcome to The Site. This is a continuos build project.</h2>
    <div class="welcome-btns">
      <%= button_to "Register", "/register", class: "welcome-btn home-user-links", method: :get %>
      <%= button_to "Log In", "/login", class: "welcome-btn home-user-links", method: :get %>
      <%= button_to "Dashboard", "/dashboard", class: "welcome-btn home-user-links", method: :get %>
    </div>
  </section>
</main>
