.dashboard-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: space-around;
  width: 100%;
}

.dash-panel {
  background-color: black;
  border: 2px solid;
  border-color: cyan;
  padding: 30px;
  width: 35%;
  text-align: center;
}
