.dashboard-page {
  align-items: center;
  display: flex;
  justify-content: center;
  height: -webkit-fill-available;
  width: 100%;
}

.dash-panel {
  border: 2px solid;
  border-color: cyan;
  padding: 30px;
  width: 35%;
  text-align: center;
}
