.reminder {
  border: 1px solid cyan;
  background-color: black;
  color: cyan;
  font-size: 1.7rem;
  text-decoration: none;
  padding: 15px;
}

.reminder:hover {
  background-color: cyan;
  color: black;
  transition: 0.3s;
}

.reminder-panel {
  align-items: center;
  background-color: black;
  border: 2px solid;
  border-color: cyan;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 500px;
  overflow-y: scroll;
  padding: 40px 10px;
  width: 45%;
}
